body {
    background-color: #f3f5fc;
    color: #0A3871;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
}

.spacer {
    margin: 32px;
}

.spacer_small {
    margin: 18px;
}

.spacer_large {
    margin: 64px;
}

.box {
    width: 940px;
	margin: 0 auto;
}

.sec_left {
    float: left;
    width: calc(100% - 460px);
}

.sec_right {
    float: right;
    max-height: 660px;
}

.clear {
    clear: both;
}

textarea {
    background-color: transparent;
    border: none;
    color: #0A3871;
    font-size: 32px;
    height: 465px;
    line-height: 48px;
    width: 100%;
}

.warning {
    color: #495057;
    font-size: 12px;
}

.warning::before {
    background-color: #495057;
    border-radius: 100%;
    color: #ffffff;
    content: "!";
    margin-right: 8px;
    padding: 0 6px;
}

button {
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    padding: 24px;
    width: 45%;
    transition: 200ms;
}

button:active {
    transition: 50ms;
    transform: scale(98%);
}

.but_encrypt {
    background-color: #0A3871;
    color: #ffffff;
    margin-right: 8%;
}

.but_encrypt:hover {
    background-color: #1b4f8d;
    cursor: pointer;
}

.but_decrypt {
    background-color: transparent;
    color: #0A3871;
}

.but_decrypt:hover {
    background-color: #D8DFE8;
    cursor: pointer;
}

.but_copy {
    background-color: transparent;
    color: #0A3871;
}

.but_copy:hover {
    background-color: #D8DFE8;
    cursor: pointer;
}

.box_result, .box_side {
    background-color: #ffffff;
    border-radius: 32px;
    box-sizing: border-box;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    display: table-cell;
    height: 660px;
    padding: 0 32px;
    text-align: center;
    vertical-align: middle;
    width: 400px;
}

.box_result p {
    color: #495057;
    font-size: 16px;
    line-height: 150%;
}

.box_result .title {
    color: #343A40;
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.innerContent {
    position: relative;
    height: 460px;
    overflow: auto;
    top: -32px;
}

div#botao {
    position: relative;
    text-align: center;
    top: -96px;
}

footer {
    text-align: center;
}

footer p {
    font-size: 12px;
}

footer p a {
    color: #0A3871;
    font-size: 24px;
    margin: 0 10px;
    transition: 200ms;
}

footer p a:hover {
    color: #1b4f8d;
}

hr {
    border: none;
    border-top: 1px solid #0A3871;
}

/* Tablet */
@media screen and (max-width: 1024px) {

    body {
        padding:0 40px;
    }

    .box {
        width: 100%;
    }

    .sec_left {
        float: none;
        width: 100%;
    }

    .sec_right {
        background-color: #ffffff;
        border-radius: 32px;
        box-sizing: border-box;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        float: none;
        margin-top: 64px;
        width: 100%;
        text-align: center;
    }

    .box_result, .box_side {
        background-color: none;
        border-radius: none;
        box-sizing: none;
        box-shadow: none;
        display: inherit;
        height: inherit;
        padding: 32px;
        vertical-align: inherit;
        width: 100%;
    }

    #resultado .spacer {
        display: none;
    }

    #resultado img {
        display: none;
    }

    .innerContent {
        font-size: 24px;
        height: inherit;
        line-height: 36px;
        max-height: 180px;
        position: inherit;
    }

    div#botao {
        position: inherit;
        text-align: inherit;
        top: inherit;
    }

    div#botao .but_copy {
        margin-bottom: 32px;
    }

}

/* Mobile */
@media screen and (max-width: 512px) {

    .but_encrypt, .but_decrypt {
        display: block;
        width: 100%;
        margin-bottom: 32px;
    }

    .but_copy {
        width: calc(100% - 60px);
    }

    .innerContent {
        max-height: 400px;
    }

}